/* windows ressource file for GNU windres */

AppIcon ICON "w32/AKFQuiz.ico"

1 VERSIONINFO
FILEVERSION 4, 3, 2, 0
PRODUCTVERSION 4, 3, 2, 0
FILEFLAGSMASK 0x3F
FILEOS 0x4
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "AKFoerster"
      VALUE "FileDescription", "AKFQuiz quizchooser"
      VALUE "FileVersion", "4.3.2-testing"
      VALUE "InternalName", "wquizchooser"
      VALUE "LegalCopyright", "Copyright AKFoerster, GPL v2 or later"
      VALUE "OriginalFilename", "wquizchooser.exe"
      VALUE "Comments", "use gtkquizchooser for GTK+ environments"
      VALUE "ProductName", "AKFQuiz"
      VALUE "ProductVersion", "4.3.2-testing"
    END
  END
END

