/* akfquiz - styles for blue theme */
/* this file is in the public domain */

/* last revision for AKFQuiz 4.3.2 */

/* import special styles for printig: */
@import url(q-print.css);

/* common to all media */
h1, .result { 
     text-align:center;
     font-weight:bold;
     }

.error {
     text-align:center;
     font-weight:bold;
     font-style:italic;
     }

.question {
     clear:both;
     font-weight:bold;
     }

#metadata, .comment {
     clear:both;
     font-style:italic;
     }

.hint {
     margin-top:1ex;
     font-style:italic;
     }

.answer { 
     margin-left:1em;
     margin-right:1em;
     }

.wrong {
     text-decoration:line-through;
     }
  
.points {
     text-align:center;
     font-style:italic;
     }

.assessment {
     clear:both;
     text-align:center;
     }

.made {
     font-family:sans-serif;
     font-size:x-small;
     text-align:right;
     }

/* styles for screens */
@media screen {
  html {
     color:black;
     background-color:#bbbbff;
     }
   
  body { 
     margin:1ex 8%;
     }

  h1, .result { 
     border:thick outset;
     padding:12px;
     margin:1em 15%;
     color:#ffffdd;
     background-color:#000055;
     border-color:#5555AA;
     }

  .hint, .assessment {
     border:thick inset;
     font-weight:bold;
     padding:1ex;
     color:#ffffdd;
     background-color:#000055;
     border-color:#5555AA;
     }

  .resultlink, .home { text-align:center; }
  
  .error {
     color:red;
     background-color:transparent;
     }

  .question { 
     color:#000088;
     background-color:transparent;
     }

  .answer input {
     color:black;
     background-color:#bbbbff;
     }

  .correct {
     background-color:#ddd;
     color:black;
     }

  .buttons { 
     margin-top:2em;
     margin-bottom:2em;
     text-align:center;
     }
     
  .buttons input {
     color:#ffffdd;
     background-color:#000055;
     }
}
