/* akfquiz - styles for school-theme */
/* this file is in the public domain */

/* last revision for AKFQuiz 4.3.2 */

/* import special styles for printig: */
@import url(q-print.css);

/* common to all media */
html {
     font-family:cursive;
     }

h1 {
     text-decoration:underline;
     text-align:center;
     }

.result { 
     text-align:center;
     font-weight:bold;
     font-size:larger;
     }

.resultlink, .home { text-align:center; }

.comment {
     clear:both;
     margin-top:1ex;
     padding:.5ex;
     font-family:sans-serif;
     }

#metadata, .hint {
     margin-top:1ex;
     padding:.5ex;
     font-family:sans-serif;
     }

.question { 
     clear:both;
     font-size:larger;
     font-weight:bold;
     }

.answer { 
     margin-left:1em;
     margin-right:1em;
     }

.wrong {
     text-decoration:line-through;
     }
  
.points {
     text-align:center;
     font-weight:bold;
     }

.assessment {
     clear:both;
     margin-top:1ex;
     padding:.5ex;
     text-align:center;
     font-family:sans-serif;
     }

.error {
     text-align:center;
     font-weight:bold;
     font-style:italic;
     font-size:larger;
     }

.buttons { 
     margin-top:2em;
     margin-bottom:2em;
     text-align:center;
     }

.made {
     font-family:sans-serif;
     font-size:x-small;
     text-align:right;
     }

/* styles for screens */
@media screen {
  html {
     color:#0000aa; /* inc */
     /* background-color:white; */ /* if graphic not available */
     background-image:url(school.png);
     position:relative; /* workaround for IE bug */
     }

  body { 
     margin:1ex 8%;
     }

  .error {
     color:red;
     background-color:transparent;
     }

  #metadata, .comment, .hint, .assessment {
     border-style:outset;
     border-width:medium;
     color:black;
     background-color:#eee;
     border-color:#eee;
     }

  .answer input {
     color:black;
     background-color:transparent;
     }

  .correct {
     background-color:#dfd;
     color:black;
     }

  .buttons input {
     color:black;
     background-color:#ccc;
     }
}
