[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=akfquiz %f
Icon=AKFQuiz.xpm
Terminal=false
Name=AKFQuiz
MimeType=application/x-akfquiz;
NoDisplay=true
