[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=diaquiz
TryExec=diaquiz
Icon=AKFQuiz.xpm
Terminal=false
Name=AKFQuiz: diaquiz
GenericName=AKFQuiz
Comment=AKFQuiz: Xdialog 
