[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AKFQuiz: publish quiz
Name[de]=AKFQuiz: Quiz veröffentlichen
Type=Link
URL=http://akfoerster.de/akfquiz/quizupload
Icon=AKFQuiz.xpm
GenericName=AKFQuiz
