[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AKFQuiz: scrquiz
Type=Application
Exec=scrquiz
TryExec=scrquiz
Icon=AKFQuiz.xpm
Terminal=true
GenericName=AKFQuiz
Comment=AKFQuiz on text-console
Comment[de]=AKFQuiz auf Textkonsole
